body {
  background-color: #121a2b;
}

.App {
  color: #a2b0f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Main Container */
.mainContainer {
  background-color: #0e141f;
  color: #63e7fa;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20vh;
  padding: 1rem;
}

.arrayInput {
  background-color: #121a2b;
  color: #a2b0f7;
  border: none;
  border-bottom: 1px solid #63e7fa ;
  margin: 0.5rem;
  min-height: 4vh;
  font-size: medium;
  min-width: 40vh;
}

.arrayInput:focus {
  outline: 1px solid #63e7fa;
}

/* End of main container */

/* Output Container */
.outputContainer {
  color: #a2b0f7;
  padding: 1rem;
}

.shortestStepsOutput{
  display: flex;
  flex-wrap: wrap;
}

/* end of output container */